- backgrounded ||= true
- page ||= :default

- if page == :employers

  %section.hero--apply{style: backgrounded ? "background-image: url(#{image_path('backgrounds/splash_2.jpg')});": ''}
    .container
      .centered-row
        .column
          %h2 Bli en Hiring partner
          %p Vi har utbildat över #{stats.number_of_graduates} nybörjare och gjort det möjligt för dem att ta steget in i IT-branschen. Vissa av dem var sugna på en ny karriärr, andra ville förverkliga sina idéer och bygga egna projekt och starta egna företag.
      .button-row
        %p
          = link_to 'Har du frågor?', 'http://doodle.com/makers_thomas', class: 'button button--horizontal', target: '_blank'
          = link_to 'Jag vill anställa', config.hire_form_url, class: 'button button--vertical button--large', target: '_blank'
          = link_to 'Ansök till Craft', config.apply_form_url, class: 'button button--horizontal', target: '_blank'

- else

  %section.hero--apply{style: backgrounded ? "background-image: url(#{image_path('backgrounds/splash_2.jpg')});": ''}
    .container
      .centered-row
        .column
          %h2 Ansök nu
          %p Craft Academy Bootcamp kostar 84 000 SEK och vi jobbar med att ta in nya deltagare löpande. Ansökningsprocessen omfattar en intervju och du förväntas delta i en förberedande (kostnadsfri) distanskurs.
          %p Vi erbjuder olika typer av finansieringsalernativ.
      .button-row
        %p
          - if page == :payment
            = link_to 'Möt tidigare studenter', '/graduates.html', class: 'button button--horizontal'
          - else
            = link_to 'Betalningsplaner', '/payment.html', class: 'button button--horizontal'

          = link_to 'Ansök', config.apply_form_url, class: 'button button--vertical button--large'

          - if page == :about_us
            = link_to 'Vår läroplan', '/curriculum.html', class: 'button button--horizontal'
          - else
            = link_to 'Läs mer', '/about-us.html', class: 'button button--horizontal'
