%footer{role: 'contentinfo'}
  .container
    .footer-links
      %ul.column
        %li
          %h3 Följ oss
        %li
          = link_to 'Facebook', 'https://www.facebook.com/makersacademysweden', target: '_blank'
        %li
          = link_to 'Twitter', 'https://twitter.com/MakersSweden', target: '_blank'
        %li
          = link_to 'YouTube', 'https://www.youtube.com/makersacademyse', target: '_blank'
        %li
          = link_to 'Blog', 'http://blog.makersacademy.se/', target: '_blank'
      %ul.column
        %li
          %h3 Omdömen
        %li
          = link_to 'Switchup', 'https://www.switchup.org/bootcamps/makers-academy', target: '_blank'
        %li
          = link_to 'Quora', 'https://www.quora.com/makers-academy', target: '_blank'
        %li
          = link_to 'Course Report', 'https://www.coursereport.com/schools/makers-academy#/reviews', target: '_blank'
      %ul.column
        %li
          %h3 Kontakta oss
        %li
          %address.vcard
            %span.email
              = link_to 'info@makersacademy.se', 'mailto:info@makersacademy.se'
            .adr
              %p
                %span.org Makers Academy Sweden
                %br
                %span.org (Pragmatic Sweden AB)
                %br
                %span.street-address Chalmers Innovation,
                %span.street-address Holtermansgatan 1D
                %br
                %span.postal-code 411 29
                %span.locality Göteborg,
                %span.country-name Sverige
                %br
            .tel
              = link_to '+46 (0)723 612527', 'tel:0723 612527'
      %ul.column
        %li
          %h3 Legal
        %li
          = link_to 'Allmänna villkor', '/terms.html'
        %li
          = link_to 'Privacy Policy', '/privacy.html'
    .footer-logos
      .footer-logo
        = image_tag 'logo/ma-white.png', class: 'logo'
    .footer-copyright
      %p
        = "&copy; Makers Academy Sweden (Pragmatic Sweden AB) #{Time.now.year}"
