%footer{role: 'contentinfo'}
  .container
    .footer-links
      - if current_page.url == '/pretoria/'
        %ul.column
          %li
            %h3 Social media
          %li
            = link_to 'Facebook', 'https://www.facebook.com/CraftAcademySA/', target: '_blank'
          %li
            = link_to 'Blog', 'http://blog.craftacademy.se/', target: '_blank'
        %ul.column
          %li
            %h3 Contakt
          %li
            %address.vcard
              %span.email
                = link_to 'diraulo@craftacademy.se', 'diraulo@craftacademy.se'
              .adr
                %p
                  %span.org Craft Academy
                  %br
                  %span.org (ThinkBots)
                  %br
                  %span.street-address Street address
                  %br
                  %span.postal-code xxxx
                  %span.locality Pretoria,
                  %span.country-name South Africa
                  %br
              .tel
                = link_to '+46 (0)723 612527', 'tel:0723 612527'
        %ul.column
          %li
            %h3 Legal stuff
          %li
            = link_to 'Terms', '/terms.html'
          %li
            = link_to 'Privacy Policy', '/privacy.html'

      - else
        %ul.column
          %li
            %h3 Sociala media
          %li
            = link_to 'Facebook', 'https://www.facebook.com/craftacademysweden', target: '_blank'
          %li
            = link_to 'Twitter', 'https://twitter.com/CraftAcademySE', target: '_blank'
          %li
            = link_to 'YouTube', 'https://www.youtube.com/makersacademyse', target: '_blank'
          %li
            = link_to 'Blog', 'http://blog.craftacademy.se/', target: '_blank'
        %ul.column
          %li
            %h3 Kontakt
          %li
            %address.vcard
              %span.email
                = link_to 'info@craftacademy.se', 'mailto:info@craftacademy.se'
              .adr
                %p
                  %span.org Craft Academy
                  %br
                  %span.org (Pragmatic Sweden AB)
                  %br
                  %span.street-address Chalmers Innovation,
                  %span.street-address Holtermansgatan 1D
                  %br
                  %span.postal-code 411 29
                  %span.locality Göteborg,
                  %span.country-name Sverige
                  %br
              .tel
                = link_to '+46 (0)723 612527', 'tel:0723 612527'
        %ul.column
          %li
            %h3 Legal stuff
          %li
            = link_to 'Allmänna villkor', '/terms.html'
          %li
            = link_to 'Privacy Policy', '/privacy.html'
    .footer-logos
      .footer-logo
        = image_tag 'logo/graphic_only_logo_white.png', class: 'logo'
    .footer-copyright
      %p
        - if current_page.url == '/pretoria/'
          %small
            = "Craft Academy is a service provided by ThinkBots. &copy; #{Time.now.year}"
        - else
          %small
            = "Craft Academy är en utbildningstjänst från Pragmatic Sweden AB. &copy; #{Time.now.year}"
