%section.full-slider.no-padding
  .slider
    .slide
      .container
        .profile-row
          .image.show-desktop
            %img{src: 'http://s3.amazonaws.com/evancarmichael/pictures/Authors/8131/Bo-Mattsson-portrait.jpg', width: '200px'}
          .copy
            %h4.leader= "Examinerades Nov 215"
            %h2= "Bo Mattsson"
            %h4.subheader= "Från sofflocket till rymdforskare på NASA"
            %blockquote= "ÄT, SOV, SKIT KOD!"
            .button-row.shift-to-bottom
              %p
                = link_to "Read Bosses story", "/bo-mattsson", class: "button button--horizontal"
          .image.hide-desktop.no-padding
            %img{src: 'http://s3.amazonaws.com/evancarmichael/pictures/Authors/8131/Bo-Mattsson-portrait.jpg', width: '200px'}
    .slide
      .container
        .profile-row
          .image.show-desktop
            %img{src: 'http://s3.amazonaws.com/evancarmichael/pictures/Authors/8131/Bo-Mattsson-portrait.jpg', width: '200px'}
          .copy
            %h4.leader= "Examinerades Nov 215"
            %h2= "Bo Mattsson"
            %h4.subheader= "Från sofflocket till rymdforskare på NASA"
            %blockquote= "ÄT, SOV, SKIT KOD!"
            .button-row.shift-to-bottom
              %p
                = link_to "Read Bosses story", "/bo-mattsson", class: "button button--horizontal"
          .image.hide-desktop.no-padding
            %img{src: 'http://s3.amazonaws.com/evancarmichael/pictures/Authors/8131/Bo-Mattsson-portrait.jpg', width: '200px'}
