%header{class: 'mobile-navigation', role: 'banner'}
  %label{role: 'menu-trigger', for: 'nav_trigger', class: 'nav-trigger-label'}
  %input{type: 'checkbox', id: 'nav_trigger', class: 'nav-trigger'}
  %nav{role: 'navigation'}
    .image--centered.image--small
      = image_tag 'logo/ma-white.png'
    %ul.navigation-menu
      %li{ class: current_if_current_page(current_page, '/') }
        = link_to 'Mem', '/'
      %li{ class: current_if_current_page(current_page, '/graduates/') }
        = link_to 'Studenter', '/graduates.html'
      %li{ class: current_if_current_page(current_page, '/employers/') }
        = link_to 'Arbetsgivare', '/employers.html'
      %li{ class: current_if_current_page(current_page, '/curriculum/') }
        = link_to 'Läroplan', '/curriculum.html'
      %li{ class: current_if_current_page(current_page, '/about-us/') }
        = link_to 'Om Makers', '/about-us.html'

%header{class: 'navigation auto-hide', role: 'banner'}
  %nav{role: 'navigation'}
    = link_to image_tag('logo/ma-wordmark-red.png'), '/', class: 'image--brand'
    %ul.navigation-menu
      %li{ class: current_if_current_page(current_page, '/graduates/') }
        = link_to 'Studenter'.upcase, '/graduates.html'
      %li{ class: current_if_current_page(current_page, '/employers/') }
        = link_to 'Arbetsgivare'.upcase, '/employers.html'
      %li{ class: current_if_current_page(current_page, '/curriculum/') }
        = link_to 'Läroplan'.upcase, '/curriculum.html'
      %li{ class: current_if_current_page(current_page, '/about-us/') }
        = link_to 'Om Makers'.upcase, '/about-us.html'
      - if current_page.url == '/employers/'
        %li{ class: current_if_current_page(current_page, '/apply/') }
          = link_to 'Anställ'.upcase, config.hire_form_url, class: 'button button--vertical', target: '_blank'
      - else
        %li{ class: current_if_current_page(current_page, '/apply/') }
          = link_to 'Ansök'.upcase, config.apply_form_url, class: 'button button--vertical'
