- description 'Upptäck vår beprövade läroplan - utvecklad av yrkesverksamma mjukvaruingenjörer och baserad på verkliga cases och senaste praxis.'
- title 'Läroplan'

= partial :'curriculum/splash'
= partial :'curriculum/manifesto'

%hr

= partial :'curriculum/daily_schedule'

%hr

= partial :'curriculum/full_curriculum_vertical'
= partial :'course_dates'
= partial :'apply'
