- description 'Anställ juniora utvecklare från Craft Academy.'
- title 'Arbetsgivare'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/students-in-lecture.jpg')});"}
  .container
    .centered-row
      %h4.leader Anställ
      %h1 juniora utvecklare från Craft Academy
      /%p 30 new candidates every 6 weeks
    .button-row
      %p
        = link_to 'Anställ utvecklare', 'https://makerssweden.typeform.com/to/SQcaqh', class: 'button button--vertical', target: '_blank'

%section
  .container
    .centered-row
      %h2 Work-ready junior developers
    .three-width-row
      .column
        = image_tag "icons/icon-heart.png", class: "image--medium"
        %h3 Passion
        %p Driven, curious and engaged: our graduates are incredibly enthusiastic about code. They are determined and dedicated in the face of problems and committed to constantly discovering more.
      .column
        = image_tag "icons/icon-craft.png", class: "image--medium"
        %h3 Craft
        %p Clean, maintainable and extendable: their code is a pleasure to read. Our graduates are advocates of TDD, pair programming, and SOLID and Agile principles - they write quality code.
      .column
        = image_tag "icons/icon-briefcase.png", class: "image--medium"
        %h3 Experience
        %p Personable, knowledgable and capable: our graduates add value beyond the code - most have built successful careers in other industries: experience they will bring to your company.

%section.backgrounded
  .article--centered
    %article
      %h3 What they learn
      %p
        %span
          Learning to be a developer at Craft Academy is less about
          %em what you know
          and more about
          %em how you do it.
      %p
        %em Attitude -
        Students learn how to solve problems for themselves, to find their own answers.
      %p
        %em Behaviour -
        They're pair-programming 80% of the time, working in scrum teams on projects and writing clean, maintainable code.
      %p
        %em Technology -
        Our curriculum is mainly Ruby and Javascript, but students often teach themselves all manner of other technologies.
  .container
    .button-row
      =link_to 'Vår läroplan', "/curriculum.html", class: "button button--horizontal"

= partial :'employer_testimonials'

%section.backgrounded
  .container
    .four-width-row.row-with-borders
      .column
        %h2.statistic £32k
        %h4.subheader Average Salary
      .column
        %h2.statistic 28
        %h4.subheader Medelålder
      .column
        %h2.statistic 35.18%
        %h4.subheader Kvinnliga deltagare
      .column
        %h2.statistic 85%+
        %h4.subheader I anställning efter 3 månader

%section.half-slider
  .container
    .half-slider-row
      .column
        .copy.copy--left
          %h3 Who they are
          %p Craft Academy graduates are passionate, driven, curious and engaging.
          %p They solve their own problems, are exceptionally fast and effective learners, and understand the business context beyond the code.
          %p The majority of our graduates have been successful in another industry, including law, marketing, banking, design, and many more: that's experience they'll bring to your company.
      .column
        = partial :'preview_graduates'

%section.backgrounded
  .container
    .centered-row
      %h2 Att vara en Hiring Partner
    .centered-row
      %table
        %thead
          %tr
            %th Aktivitet
            %th Din tid
            %th Frekvens
        %tbody
          %tr
            %td Hålla en Lunchtime Talk
            %td 1 timma
            %td 1 gng per grupp/cohort
          %tr
            %td Vara värd för en Kod Seminarium
            %td 1 dag
            %td 1 gng per grupp/cohort
          %tr
            %td Delta i examensdemo
            %td 2 timmar
            %td Var 9:de vecka
          %tr
            %td Pitch at a Careers Fair
            %td 2 hours
            %td Every 6 weeks
          %tr
            %td Möt våra deltagare
            %td 45 - 60 minuter
            %td Varannan onsdag
          %tr
            %td Publicera dina jobberbjudanden
            %td Ingen
            %td Utan begränsning

%section
  .container
    .two-width-row
      .column.vertical-center
        %h4.leader Arvode
        %h2.statistic 20%
        %h4.subheader av den första årslönen
        .button-row
          =link_to 'Kontakta mig', 'http://doodle.com/makers_thomas', class: 'button button--horizontal'
      .column
        .copy.copy--left
          %h4.alt-color du får tillgång till ovanstående utan några finansiella förbindelser
          %h4.subheader Vi debiterar dig vårt arvode förs när du hittar någon som passar och skriver ett ansällningsavtal
          %p Till skillnad från andra utbildningsanordnare tar vi ut ett arvode när du rekryterar någon av våra deltagare. Vi gör det först när du faktiskt hittar någon som du tror kan passa i ditt team och skapa mervärden för din organisation.
          %p Det innebär i praktiken att vi är väldigt måna om att våra deltagare kan så mycket som möjligt och att vi jobbar riktigt hårt på att få upp deras kompetensnivå till en nivå som gör dem anställningsbara.
          %p Vårt arvoda är också något större än vad vissa rekryteringsfirmor tar ut. Det beror på att samarbetet med oss handlar om så mycket mer ärn att du bara får en lista med kandidater. Vi känner vår deltagare väl och förutom att känna till deras tekniska profil, vet vi hur de fungerar i att jobba i grupp, hur de hanterar stress och hur de jobbar med att lösa problem. Vi finns här för dem och vi finns här för dig.
          %p
            %strong Att du får kontakt men en person som kan platsa i ditt team - och som kan komma in i produktion så fort som möjligt, är ett av våra högsta prioriteter.


%section.backgrounded
  .container
    .centered-row
      %h2 Våra Hiring Partners
      %table
        %tbody
          %tr
            %td Commitment to Learning
            %td Tech team bigger than 10 people
          %tr
            %td Mentoring or Buddying
            %td Fans of Software Craftsmanship
          %tr
            %td TDD / BDD
            %td Pair Programming
          %tr
            %td Agile
            %td Diverse

%section.backgrounded
  .container
    .image-grid-row
      - fetch_logos.shuffle.each do | logo |
        = image_tag logo, { alt: alt_text_from_filename(logo), title: alt_text_from_filename(logo) }

= partial :'apply', locals: { page: :employers }
