- description 'Craft Academy är en 12 veckors intensiv och praktiskt inriktad camp för juniora utvecklare, Den dig grunderna du behöver för att kunna skapa, utveckla och sjösätta webbaserade applikationer.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_1.jpg')});"}
  .container
    .centered-row
      %h1 Programmering som ett hantverk -  på 12 veckor
      %p Craft Academy är en 12 veckors intensiv och praktiskt inriktad camp för juniora utvecklare. Den dig grunderna du behöver för att kunna skapa, utveckla och sjösätta webbaserade applikationer.
      %p Bli en av oss - lär dig ett nytt hantverk!
    = partial :'email-capture'

= partial :'who_is_it_for'
= partial :'course_dates'
= partial :'apply'

%section
  .container
    %h3 Våra utbildningslokaler
    %p.copy--left
      Du kan delta i Craft Academy på distans och jobba hemifrån men vi tror att de bästa effekterna uppnås om deltagarna jobbar nära varandra och coacherna.
      Just nu finns vi på två fysiska platser och kommer att öppna upp i ytterligare två städer under våren 2016.
    %ul.tabs
      %li.tab-header-and-content
        %a.tab-link.is-active{href: '#'} Göteborg
        .tab-content
          .half-slider
            .half-slider-row
              .column
                = image_tag 'maps/gothenburg.png', width: '400px'
              .column
                %h3 Göteborg
                %p I Göteborg hittar du oss vid Chalmers Innovation Stena Center på Holtermansgatan 1 (mittemot stora Chalmers ingången).
      %li.tab-header-and-content
        %a.tab-link{href: '#'} Uppsala
        .tab-content
          %h3 Uppsala
          %p Just nu förbereder vi vår etablering i Uppsala och återkommer med information under december 2015.


= partial :'apply', locals: { page: :employers }
