- description 'Lär dig programmering och webbutveckling på 12 veckor. Craft Academy är en intensiv & praktiskt inriktad utbildning där man får man lära sig programmera i JavaScript, Ruby, HTML5, CSS, mm. Vi erbjuder utbildningar i Göteborg, Stockholm och på distans'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_1.jpg')});"}
  .container
    .centered-row
      %h4.leader Ta kontroll över framtiden.
      %h1
        = 'Lär dig koda på 12 veckor'.html_safe
      %p
        %strong
          Craft Academy är Sveriges ledande bootcamp inom webbutveckling. Med vår hjälp får du en snabb och effektiv väg in till ett spännande yrke.
      %h4.leader Nästa kursstart: 28 November 2016
    = partial :'email-capture'
= partial :'startpage/become_the_solution'
= partial :'startpage/students_payoff'
= partial :'startpage/study_payoff'
= partial :'course_dates'
= partial :'what_you_get'
= partial :'apply'

%section
  .container
    %h3 Hitta oss
    %p.copy--left
      Du kan delta i Craft Academy på distans och jobba hemifrån men vi tror att de bästa effekterna uppnås om deltagarna jobbar nära varandra och coacherna.
      Just nu finns vi på två fysiska platser och kommer att öppna upp i ytterligare två städer under våren 2016.

    .vertical-tabs-container
      .vertical-tabs
        %a.js-vertical-tab.vertical-tab.is-active{href: 'javascript:void(0)', rel: 'tab1'} Göteborg
        %a.js-vertical-tab.vertical-tab{href: 'javascript:void(0)', rel: 'tab2'} Stockholm

      .vertical-tab-content-container
        %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active{href: '', rel: 'tab1'} Göteborg
        #tab1.js-vertical-tab-content.vertical-tab-content
          = image_tag 'maps/gothenburg.png', width: '400px'
          %h3 Göteborg
          %p I Göteborg hittar du oss vid Chalmers Innovation Stena Center på Holtermansgatan 1
          %p (mittemot stora Chalmers ingången).
        %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{href: '', rel: 'tab2'} Stockholm
        #tab2.js-vertical-tab-content.vertical-tab-content
          = image_tag 'maps/stockholm.png', width: '400px'
          %h3 Stockholm
          %p I Stockholm hittar du oss på OpenLab på Valhallavägen 79 (I närheten av Tekniska Högskolan).

= partial :'apply', locals: { page: :employers }
