- description 'Våra priser - Grundpriset för Craft Academy Bootcamp är 84 000 SEK. Titta efter aktuella erbjudanden.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_4.jpg')});"}
  .container
    .centered-row
      %h1 Priser
      %p
        %strong
          Samtidigt som vi är ett vinstdrivande företag, vill vi inte att priset ska utgöra ett hinder för någon att vara med på Craft Academy Bootcamp.
          Vi erbjuder olika typer av finansieringsalternativ och betallösningar för både privatpersoner och företag.
%section.backgrounded
  .container
    .centered-row
      %h4.leader Craft Academy
      %h2 Kursavgift
      %h4
        Grundpriset för Craft Academy Bootcamp är 84 000 SEK.
      %p.copy--left
        Craft Academy är en renodlad uppdragsutbildning och vi inte affilierade med någon statlig eller kommunal organisation eller myndighet.
        Kursavgiften är satt att täcka våra kostnader för lokaler, instuktörer, externa föreläsare, utrustning, mm.
      %p.copy--left
        Våra kurser berättigar INTE till CSN stöd. Se nedan för möjligheter till rabatter och tillgängliga finansieringsalternativ.
    .three-width-row
      .column
        %h3 Boka tidigt-rabatt
        %p.copy--left Få <strong>10% rabatt</strong> om du bokar tidigt och betalar hela kursavgiften minst en månad före starten av kursen.
      .column
        %h3 Kvinnliga sökande
        %p.copy--left 8 400 kr rabatt för kvinnor eftersom de är mycket underrepresenterade i IT-branschen.
      .column
        %h3 Start-up rabatt
        %ul
          %li.copy--left Om du anmäler dig till kursen som börjar 18/4 erbjuder vi dig en plats på vår bootcamp för 42 000 kr.
          %li.copy--left Du kan dela upp betalningen i tre delar.
          %li.copy--left
            %strong Vi erbjuder ytterligare 10% till kvinnliga sökande.
%section
  .container
    .centered-row
      %h2 Avbetalning
      %p
        Om du känner att du vill vara med och delta på vår utbildning men inte riktigt har råd att
        betala hela kursavgiften på en gång - är du välkommen att höra av dig till oss så försöker vi hitta en lösning.
        Du kan ansöka om att få lägga upp en avbetalningsplan för kursavgiften.
    .two-width-row
      .column
        = image_tag 'logo/pragmatic_sweden_color.png', class: 'image--medium'
        %h4 Pragmatic Sweden AB
        .button-row
          %p.copy--left
            Pragmatic Sweden AB är företaget som driver Craft Academy. Vi erbjuder en egen avbetalningsplan som ger dig möjlighet av avbetala kursavgiften på 6 räntefria månadsbetalningar. Kontakta oss för mer information och om andra tillgängliga finansieringsalternativ.
          %p.copy--left
            Första delbetalningen erläggs vid anmälan och avser en registreringsavgift på 8 400 SEK (motsvarande 10% av kursavgiften), delbetalning på 12 600 SEK samt en administrativ avgift på 495 SEK, totalt 21 495 SEK.
            De nästföljande 5 månadsbetalningarna avser delbetalning på 12 600 SEK och administrativ avgift på 495 SEK, totalt 13 095 SEK.
            %strong Det totala priset för kursen (exkl den förberedande delen) blir 86 970 SEK.
            Alla priser inkluderar moms.

      .column
        = image_tag 'logo/human_finans.jpg', class: 'image--medium'
        %h4 Human Finans
        %p.copy--left
          I samarbete med Human Finans kan vi erbjuda  erbjuda olika alternativ till delbetalning av våra utbildningar.
        %p.copy--left
          Du kan t.ex. låna räntefritt till din utbildning och dela upp din betalning i 12 månader.
%hr
%section
  .container
    .centered-row
      %h2
        ='Betalnings-<br>alternativ'.html_safe
    .four-width-row
      .column
        = image_tag 'icons/icon-cash.jpg', class: 'image--small'
        %h4 Banköverföring
        %p.copy--left
          Det enklaste sättet att betala in dina avgifter är genom en banköverföring. Kontakta oss för kontonummer. Märk alla betalningar med ditt namn och de 6 första siffrorna i ditt personnummer.
      .column
        = image_tag 'icons/icon-credit-card.jpg', class: 'image--small'
        %h4 Kort
        %p.copy--left
          Vi kan ta emot de flesta kreditkort genom vår tjänsteleverantör Stripe.
      .column
        = image_tag 'icons/icon-briefcase.png', class: 'image--small'
        %h4 Faktura
        %p Är du företagare ställer vi gärna ut en momsfaktura på kursavgiften och du kan få 30 dagars kredit. Kontakts oss för mer information.

= partial :'apply', locals: {page: :about_us}
