- description "Discover payment options"
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_4.jpg')});"}
  .container
    .centered-row
      %h1 Payment Options
      %p We offer a variety of payment options, and discounts for representatives of minority groups. Price should never be a barrier to a student joining Craft Academy.
%section.backgrounded
  .container
    .centered-row
      %h4.leader Craft Academy
      %h2 Kursavgift
      %h2.statistic 84 000 SEK
    .three-width-row
      .column
        %h3 Anmälningsavgift: 8 400 SEK
        %p I samband med att du blir erbjuden och accepterat plats på kursen (efter intervjun) behöver erlägga en anmälningsavgift som motsvarar 10% av kurspriset.
      .column
        %h3 Boka tidigt-rabatt: 10%
        %p Vi erbjuder dig 10% rabatt om du bokar tidigt och betalar hela kursavgiften minst en månad före starten av kursen.
      .column
        %h3 Stipendium för kvinnliga sökande: 7 500 SEK
        %p Vi erbjuder en 7 500 kr rabatt för kvinnor eftersom de är mycket underrepresenterade i IT-branschen.
%section
  .container
    .centered-row
      %h2 Avbetalning
      %p Du kan ansöka om att få lägga upp en avbetalningsplan för kursavgiften.
    .two-width-row
      .column
        = image_tag 'logo/human_finans.jpg', class: 'image--medium'
        %h4 Pragmatic Sweden AB
        .button-row
          %p
            Pragmatic Sweden AB är företaget som driver Craft Academy. Vi erbjuder en egen avbetalningsplan som ger dig möjlighet av avbetala kursavgiften på 6 räntefria månadsbetalningar. Kontakta oss för mer information och om andra tillgängliga finansieringsalternativ.
          %p
            Första delbetalningen erläggs vid anmälan och avser en registreringsavgift på 8 400 SEK (motsvarande 10% av kursavgiften), delbetalning på 12 600 SEK samt en administrativ avgift på 495 SEK, totalt 21 495 SEK. De nästföljande 5 månadsbetalningarna avser delbetalning på 12 600 SEK och administrativ avgift på 495 SEK, totalt 13 095 SEK. Det totala priset för kursen (exkl den förberedande delen) blir 86 970 SEK. Alla priser inkluderar moms.


      .column
        = image_tag 'logo/human_finans.jpg', class: 'image--medium'
        %h4 Human Finans
        %p
          I samarbete med Human Finans kommer vi kunna erbjuda olika alternativ till delbetalning av våra utbildningar. Du kan t.ex. låna räntefritt till din utbildning och dela upp din betalning i 12 månader.
%hr

%hr
%section
  .container
    .centered-row
      %h2 Payment Options
      %p We accept the following modes of payment:
    .four-width-row
      .column
        = image_tag "icons/icon-cash.jpg", class: "image--medium"
        %h4 Bank Transfer
      .column
        = image_tag "icons/icon-credit-card.jpg", class: "image--medium"
        %h4 Credit Card
      .column
        = image_tag "payment-options/transferwise.jpg", class: "image--medium"
        %h4 TransferWise
      .column
        = image_tag "payment-options/gocardless.jpg", class: "image--medium"
        %h4 GoCardless
= partial :'apply', locals: {page: :payment}
