- description 'Lär dig programmering och webbutveckling på 12 veckor. Craft Academy är en intensiv & praktiskt inriktad utbildning där man får man lära sig programmera i JavaScript, Ruby, HTML5, CSS, mm. Vi erbjuder utbildningar i Göteborg, Stockholm och på distans'
- title 'Om oss'

%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Våra Studenter
      %p
        %strong
          Deltagarna på våra bootcamps har ofta helt olika bakgrund. Från entreprenörer som vill utveckla sina egna produkter till de som fastnat i karriären och känner att det är dags för en ny utmaning. Alla har dock en sak gemensamt. De vill jobba med systemutveckling och de är redo att kavla upp ärmarna och jobba hårt för att förverkliga sina mål.
= partial :meet_our_students

%section.hero-splash{style: "background-image: url(#{image_path('photos/startup-593341-fade-or.jpg')});"}
  .container
    %article
      %h4.leader Vi är en katalysator för förändring
      %h4.leader en plats där människor förvandlar sina liv.
      %h2 Studera med Craft Academy
      %p.copy--left Att vara student på Craft Academy är en riktig utmaning. Du kommer att äta, sova och andas kod. Problemlösning, grupparbete och ständiga utmaningar blir en stor del av ditt liv.
      %p.copy--left Det vi gör på Craft Academy är inte bara att undervisa i Agila utvecklingsmetoder, Ruby, JavaScript, mm. Vi hjälper inte bara våra studenter att bli utvecklare, även om det är det synliga resultatet av vårt arbete. Vi hjälper dem att förändra sina liv till det bättre, att lära sig att lära, att förstå hur de fungerar och tänker.
      %p.copy--left Vi ger dig alla verktyg du behöver för att bli en bra programmerare - tillgång till en beprövad läroplan, erfarna coacher på plats och på distans, möjlighet att samverka med deltagare i andra delar av Norden och även tillgång till en egen MacBook Pro så att du får en bra utvecklarmiljö att jobba i.
      = link_to 'Vår läroplan', '/curriculum.html', class: 'button button--vertical'
%hr

%section.hero-splash-white
  .container
    .centered-row
      %article
        %h4.leader On-site eller på distans
        %h2 En kreativ miljö
        %p.copy Du kan delta i Craft Academy på distans och jobba hemifrån men vi tror att de bästa effekterna uppnås om deltagarna jobbar nära varandra och coacherna. För bästa resultat rekommenderar vi därför att du närvarar i våra lokaler på Chalmers Innovation i Göteborg under hela utbildningstiden.
        %p.copy Du tar en aktiv roll i gemensamma föreläsningspass, projektarbeten och möten. Förutom svenska är engelska vårt arbetsspråk. Den mängd av engagemang du tillför till programmet återspeglar sig i dina resultat.
%hr

%section.hero-splash-white
  .container
    %article
      %h2 Vår mission
      %h4 Det är brist på utvecklare i Sverige och det finns ett stort behov av nya talanger. Craft Academy siktar in sig på att vara en del av lösningen på det problemet.
      %p.copy--left Craft Academy startades av Thomas Ochman i samarbete med Makers Academy i London och levererade sin första bootcamp under hösten 2015. Vi har sedan starten haft en nära koppling till start-up scenen i Göteborg och har våra lokaler vid Chalemrs Innovation i en entreprenöriell miljö med många techföretag som grannar.
      %p.copy--left Inför vår expansion till andra nordiska städer siktar vi på att knyta nära band med andra inkubatorer och start-up acceleratorer för att kunna vara en naturlig kompetenspartner men även för att hjälpa våra studenter att knyta värdefulla kontakter och bygga nätverk.

= partial :'course_dates'
= partial :'what_you_get'
= partial :'apply', locals: {about_us: true}
