- description 'Upptäck vår beprövade läroplan - utvecklad av yrkesverksamma programmerare och baserad på verkliga cases och senaste praxis.'
- title 'Läroplan'

= partial :'curriculum/splash'

%hr

= partial :lms
= partial :'curriculum/full_curriculum_vertical'
= partial :'course_dates'
= partial :'apply'
