- description 'Do you need junior developers for your team? Look no further.'
- title 'Employers'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Junior Developers from Craft Academy
      /%p 30 new candidates every 6 weeks
    .button-row
      %p
        = link_to 'Hire Our Developers', 'https://makerssweden.typeform.com/to/SQcaqh', class: 'button button--vertical', target: '_blank'

%section
  .container
    .centered
      %h2 Ready for production?
      %p.copy--left We strive to train junior developers who will seamlessly fit into a workplace, ready to hit the ground running and dive into real projects. We train not just competent coders, with a wide range of skills, but teammates, problem-solvers and leaders.
    .three-width-row.centered-row
      .column
        = image_tag 'icons/icon-heart.png', class: 'image--small'
        %h4 Passion
        %p Driven, curious and engaged. Our students, by graduating from Craft Academy, have shown that they are in charge of their own development. By dedicating twelve weeks of their lives to learning to code - and putting their lives on hold - they have proven their desire to work in the field.
      .column
        = image_tag 'icons/icon-craft.png', class: 'image--small'
        %h4 Competence
        %p During their time at Craft Academy, our students learn at least two programming languages and three frameworks. They practice Test-Driven Development and work with Agile principles on a wide range of projects.
      .column
        = image_tag 'icons/icon-briefcase.png', class: 'image--small'
        %h4 Experience
        %p Everyone was a beginner once. What separates our students from other junior developers is that bootcamp participants begin writing code even before day one, and every single day during the course. When they graduate, they have at least two fully-developed major projects in their portfolio. 

%section.backgrounded
  .container
    .row
      %h2 Att vara en Hiring Partner
      %h4 Vi vet att en rekryteringsprocess är väldigt känslig och att det helt enkelt inte får bli fel när man väljer en ny medarbetare
      %p.copy--left
        Samarbetet med oss handlar om så mycket mer än att du bara får en lista med kandidater. Vi tror att ju tidigare ni får en relation med våra studenter desto bättre blir resultatet - såväl för er som för studenterna.
        Vår erfarenhet visar att de som lyckas bäst med sin rekrytering från utbildningar som Craft Academy är de företag som på ett tidigt stadium visar engagemang. Det vi förväntar oss av er som en Hiring Partner är att ni deltar i följande aktiviteter:
    .centered-row
      %table
        %thead
          %tr
            %th{style:'width: 45%' }
              Aktivitet
            %th{style:'width: 15%' }
              Tid
            %th{style:'width: 40%' }
              Hur ofta?
        %tbody
          %tr
            %td
              %h4 Hålla en 'Lunchtime Talk'
              %p.copy--left
                Presentera företaget och människorna som jobbar i organisationen. Berätta om er verksamhet och vad ni jobbar med. Ge deltagarna tillfälle att bekanta sig med er.
            %td 1 timma
            %td 1 gng per grupp/cohort
          %tr
            %td
              %h4 Vara värd för en 'Craft Workshop'
              %p.copy--left
                Presentera egna problemställningar och utmana studenterna att komma upp med lösningar. Ett bra sätt att få reda på kunskapsnivå och lära känna deltagarnas kreativa sidor.
            %td 1 dag
            %td 1 gng per grupp/cohort
          %tr
            %td
              %h4 Delta på demodag
              %p.copy--left
                I samband med avslutningen anordnar vi en demo dag där deltagarna visar upp sina slutprojekt. Efteråt umgås vi och minglar. Det är en stor dag för deltagarna som markerar slutet på en resa och början på en ny. Var med på den och ge dem din feedback och stöd.
            %td 2 timmar
            %td Var 8:de vecka
          %tr
            %td
              %h4 Pitcha på karriärdagen
              %p.copy--left
                Varannan månad anordnar vi en karriärdag där våra Hiring Partners kan presentera sina företag. Karriärdagen vänder sig till både nuvarande som potentiell framtida deltagare på Craft Academy.
            %td 2 timmar
            %td Var 8:de vecka
          %tr
            %td
              %h4 Umgås med deltagare
              %p.copy--left
                Det bästa sättet att lära känna någon är att umgås med personen i en avslappnad och informell miljö. Varannan onsdag anordnar vi en After Work i våra lokaler eller på en pub/bar dit alla Hiring Parners är välkomna.
            %td 45 - 60 minuter
            %td Varannan onsdag
          %tr
            %td
              %h4 Publicera dina jobberbjudanden
              %p.copy--left
                Vi har en job board där vi presenterar våra Hiring Partners och deras aktuella rekryteringar där ni kan publicera information allt efterssom era behov förändras.
            %td Ingen
            %td Utan begränsning

%section
  .container
    %h2.alt-color Inga förbindelser
    %h4.subheader Vi tar betalt först när du hittar någon som passar och skriver ett ansällningsavtal

    .two-width-row
      .column.vertical-center
        %h4.leader Vårt arvode
        %h4.leader vid rekrytering
        %h1.statistic 20%
        %h4.subheader av första årets lönekostnad
        .button-row
          =link_to 'Kontakta mig', 'http://doodle.com/makers_thomas', class: 'button button--horizontal'
      .column
        .copy.copy--left
          %p
            Till skillnad från andra utbildningsanordnare tar vi ut ett arvode när du rekryterar någon av våra deltagare.
            Vi gör det först när ni faktiskt hittar någon som du tror kan passa i ditt team och skapa mervärden för din organisation.
          %p
            Vårt arvode är också något större än vad vissa rekryteringsfirmor tar ut.
            Det beror på att vi erbjuder större mervärden som gör er rekryteringsprocess säkrare.
            Vi känner våra deltagare väl och förutom att vi har koll på deras tekniska kompetens, vet vi även hur de fungerar i att jobba i grupp,
            hur de hanterar stress och hur de jobbar med att lösa problem.
