- description 'Do you need junior developers for your team? Look no further.'
- title 'Employers'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Junior Developers from Craft Academy
      /%p 30 new candidates every 6 weeks
    .button-row
      %p
        = link_to 'Hire Our Developers', 'https://makerssweden.typeform.com/to/SQcaqh', class: 'button button--vertical', target: '_blank'

%section
  .container
    .centered
      %h2 Ready for production?
      %p.copy--left We strive to train junior developers who will seamlessly fit into a workplace, ready to hit the ground running and dive into real projects. We train not just competent coders, with a wide range of skills, but teammates, problem-solvers and leaders.
    .three-width-row.centered-row
      .column
        = image_tag 'icons/icon-heart.png', class: 'image--small'
        %h4 Passion
        %p Driven, curious and engaged. Our students, by graduating from Craft Academy, have shown that they are in charge of their own development. By dedicating twelve weeks of their lives to learning to code - and putting their lives on hold - they have proven their desire to work in the field.
      .column
        = image_tag 'icons/icon-craft.png', class: 'image--small'
        %h4 Competence
        %p During their time at Craft Academy, our students learn at least two programming languages and three frameworks. They practice Test-Driven Development and work with Agile principles on a wide range of projects.
      .column
        = image_tag 'icons/icon-briefcase.png', class: 'image--small'
        %h4 Experience
        %p Everyone was a beginner once. What separates our students from other junior developers is that bootcamp participants begin writing code even before day one, and every single day during the course. When they graduate, they have at least two fully-developed major projects in their portfolio.

%section.backgrounded
  .container
    .row
      %h2 Become a Hiring Partner
      %h4 We recognize that the recruitment process is necessarily sensitive and specialized, and that it can be difficult to find someone you can trust on your team
      %p.copy--left
        Working with Craft Academy as a Hiring Partner doesn't mean you will simply receive a list of candidates. We believe that if potential employers develop a relationship with our students, they can get a great sense of their potential.
        Our experience shows that the most engaged companies reap the greatest benefit from their partnership with Craft Academy. There are a number of ways to get involved, including lunch talks, posting to the job board, joining in with breakfast or happy hour social activities, and participation in graduating "demo days".
  
%section
  .container
    %h2.alt-color Inga förbindelser
    %h4.subheader Vi tar betalt först när du hittar någon som passar och skriver ett ansällningsavtal

    .two-width-row
      .column.vertical-center
        %h4.leader Vårt arvode
        %h4.leader vid rekrytering
        %h1.statistic 20%
        %h4.subheader av första årets lönekostnad
        .button-row
          =link_to 'Kontakta mig', 'http://doodle.com/makers_thomas', class: 'button button--horizontal'
      .column
        .copy.copy--left
          %p
            Till skillnad från andra utbildningsanordnare tar vi ut ett arvode när du rekryterar någon av våra deltagare.
            Vi gör det först när ni faktiskt hittar någon som du tror kan passa i ditt team och skapa mervärden för din organisation.
          %p
            Vårt arvode är också något större än vad vissa rekryteringsfirmor tar ut.
            Det beror på att vi erbjuder större mervärden som gör er rekryteringsprocess säkrare.
            Vi känner våra deltagare väl och förutom att vi har koll på deras tekniska kompetens, vet vi även hur de fungerar i att jobba i grupp,
            hur de hanterar stress och hur de jobbar med att lösa problem.
