- description 'Learn coding and web development in three months. Craft Academy is an intensive, practical and focused training where students learn programming in Ruby, Javascript, HTML5, and CSS, among others. We offer training on-location in Gothenburg and Stockholm and around the world by distance.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_1.jpg')});"}
  .container
    .centered-row
      %h4.leader Are you ready to challenge yourself?
      %h1
        = 'Coding as a craft in twelve weeks'.html_safe
      %p
        %strong
          With Craft Academy, you'll learn web development and get help to find your first job or build your own project.
      %h4.leader Be one of us - learn a new craft!
    = partial :'email-capture'

= partial :'who_is_it_for'
= partial :'course_dates'
= partial :lms
= partial :'apply'

%section
  .container
    %h3 Directions
    %p.copy--left
      You can participate in the Craft Academy bootcamp remotely and work from home, but we believe that students get the most out of the program by working near each other and the coaches.

    .vertical-tabs-container
      .vertical-tabs
        %a.js-vertical-tab.vertical-tab.is-active{href: 'javascript:void(0)', rel: 'tab1'} Gothenburg
        %a.js-vertical-tab.vertical-tab{href: 'javascript:void(0)', rel: 'tab2'} Stockholm

      .vertical-tab-content-container
        %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active{href: '', rel: 'tab1'} Gothenburg
        #tab1.js-vertical-tab-content.vertical-tab-content
          = image_tag 'maps/gothenburg.png', width: '400px'
          %h3 Gothenburg
          %p In Gothenburg, we are located at Chalmers Innovation Stena Center on Holtermansgatan 1
          %p across from the Chalmers University main entrance.
        %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{href: '', rel: 'tab2'} Stockholm
        #tab2.js-vertical-tab-content.vertical-tab-content
          = image_tag 'maps/stockholm.png', width: '400px'
          %h3 Stockholm
          %p In Stockholm we are located at OpenLab on Valhallavägen 79 (in the vicinity of the Tekniska Högskolan).

= partial :'apply', locals: { page: :employers }
